
/* --- talk --- */

#talk {
    border : dashed 5px #4682b4;
    border-radius: 10px;
    background-color: #f0f8ff;
    margin: 1% 20%;
    padding: 10px;
}

/* --- message --- */

.chat {
    margin: 1% 15%;
    display: flex;
    text-align: center;
}

input {
    margin: auto 10px;
}

.text {
    margin: 0px;
}

/* --- メッセージの吹き出し --- */

span {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 75%;
    color: #555;
    font-size: 16px;
    background: #b0c4de;
    border-radius: 10px;
}

span:before {
   content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #b0c4de;
}